@import "../assets/styles/main.scss";

.experience {
  background-color: #f4f6f0;
  height: 780px;
  .header {
    width: 100%;
    height: 80px;
    display: flex;
  }
  .title {
    font-size: 36px;
    margin-top: 30px;
  }

}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.experienceRow {
  border-bottom: 1px solid #d8dbd4;
  &:hover {
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
    color: #d8dbd4;
  }
}

.experienceList {
  margin-top: 50px !important;
}

.listTitle {
  font-size: 20px;
  font-family: $header-font;
}

.column100 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.seeMore {
  align-items: flex-end;
}

.widebtn {
  border: 1px solid black;
  background-color: transparent;
  padding: 15px;
  border-radius: 32px;
}
