.aboutme {
  background-color: #F8F6F5;
  margin-left: -16px;
  padding-bottom: 100px;
  // height: 800px;

  .aboutMeRow {
    margin-top: 60px;
  }

  .aboutMeText {
    margin-top: 180px;
  }

  ul {
    padding-left: 0;
    text-decoration: none;
    list-style-type: none;
    li {
      margin-left: 0;
    }
  }
}
.iconHolder {
  padding: 40px;
  background-color: #F8F6F5;
  .iconBg {
    width: 30px;
    height: 30px;
    background-color: #2B2D2E;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
}
