@import "./assets/styles/main.scss";

@import "./Hello/hello.scss";

@font-face {
  font-family: 'Telegraf';
  src: local('Radnika'), url('assets/Telegraf-Regular.otf') format("opentype");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: $font-stack;
  color: $text-color;
  line-height: 26px;
  font-size: 16px;
  -webkit-text-size-adjust: none;
}

a {
  color: $text-color;
  &:visited {
    color: $text-color;
  }
  &:hover {
    color: $link-color;
  }
}

.icon {
  width: 25px;
  height: 25px;
}

.intextIcon {
  transform: translateY(5px)
}

.gridContainer {
  padding: 0px 64px 0px 64px;
  // margin: 32px 0px 32px 0px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  .gridCellCentered {
  }
}

@media (max-width: 600px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
}
}

.gridContainerRow {
  padding: 30px 48px 30px 48px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  .gridCellCentered {
  }
}

.gridRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.gridContainerLayout {
  display: flex;
  flex-direction: row;
}
