@import "../assets/styles/main.scss";




.hello {
  height: 600px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-family: $header-font;

  .hello-description {
    width: 100%;
    text-align: left;
    font-size: 36px;
    line-height: 1.5;
    margin-left: 80px;
    margin-right: 80px;
  }

  @media (max-width: 600px) {
      .hello-description {
          margin-left: 12px;
          margin-right: 12px;
          font-size: 24px;
      }
  }
  .profile {
    width: 300px;
  }

  #workLink {
    font-size: 14px;
  }
  .linkHighlight {
    // color: white;
    background-color: $highlight-color;
    color: white;
    text-decoration: none;
    font-family: $header-font;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 3px;
  }
}

@media (max-width: 600px) {
    .hello {
      height: 400px;
    }
}

.myTooltip {
  // background-color: #EAF257 !important;
}
