@import "../assets/styles/main.scss";


.hello {
  height: 550px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-family: $header-font;


  .hello-description {
    width: 50%;
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    line-height: 1;
    margin-top: -50px;
  }

  .smallText {
    line-height: 1.4;
  }

  @media (max-width: 600px) {
      .hello-description {
          margin-left: 12px;
          margin-right: 12px;
          font-size: 24px;
      }
  }
  .profile {
    width: 300px;
  }

  #workLink {
    font-size: 14px;
  }
  .linkHighlight {
    color: black;
    // background: -webkit-linear-gradient(45deg, #f7f2af, #7a4bb7, #2329dd, #638f39);
    //
    //
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // background-color: #cfc0fe;
    // color: #6b6bdb;
    text-decoration: underline;
    font-family: $header-font;
    padding-left: 3px;
    // font-weight: 300;
    // text-decoration: underline;
    &:hover {
      color: #904DE4;
      // background: -webkit-linear-gradient(45deg, #f7f2af, #7a4bb7, #2329dd, #638f39);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
  }
}

@media (max-width: 600px) {
    .hello {
      height: 400px;
    }
}

.myTooltip {
  z-index: 7000;
  // background-color: #EAF257 !important;
}
