@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200;0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://use.typekit.net/vnb5nbm.css");
@import url("https://use.typekit.net/vnb5nbm.css");
@import url("https://use.typekit.net/oiw3bes.css");

@import "~video-react/styles/scss/video-react";

@font-face {
  font-family: Akkurat;
  src: require('./../Akkurat.ttf');
}

@font-face {
  font-family: Chivo;
  src: require('./../Chivo.ttf');
}

// $font-stack: 'Lato', sans-serif;
// $header-font: orpheuspro, 'IBM Plex Sans';
$font-stack: 'Uncut Sans';
$header-font: 'Uncut Sans';
$text-color: #211f1f;
$text-secondary: #4a4a4a;
$highlight-color: #637381;
$link-color: #7828e0;

$project-padding: 80px 200px 80px 200px;
$general-padding: 80px 64px 80px 64px;
// $highlight-color: #ffbf1e;

// Subtle typography improvements
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title, strong {
  font-family: $header-font;
  font-weight: 500;
}

.title {
  font-family: $header-font;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: $header-font;
}

h1 {
  line-height: 1.3;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  letter-spacing: -0.02em;
  color: #000;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.25;
  color: #000;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.3;
  color: #000;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.005em;
  color: #000;
}

p {
  font-size: 17px;
  line-height: 1.65;
  color: $text-secondary;
  margin-bottom: 1.5rem;
}

ul, ol {
  font-size: 17px;
  line-height: 1.65;
  color: $text-secondary;

  li {
    margin-bottom: 0.75rem;
  }
}

// ============================================
// Layout
// ============================================
.row {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 40px 0px;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}
.col2 {
  width: 25%;
}
.col3 {
  width: 33%;
}

@media (max-width: 600px) {
  .col3 {
    width: 100%;
    padding-right: 12px;
  }
}

.col4 {
  width: 40%;
  padding-right: 40px;
}
.col5 {
  box-sizing: border-box;
  width: 70%;
}
.col6 {
  width: 60%;
}
.col7 {
  width: 75%;
}

.minus80 {
  position: relative;
  top: 80px;
}

@media (max-width: 600px) {
  .col7, .col5 {
    width: 100%;
    padding-right: 12px;
  }
}

.col7Experience {
  width: 75%;
  padding-left: 30px;
  box-sizing: border-box;
}
.colMax {
  width: 100%;
}

.padding20 {
  padding-left: 20px;
}

.padding50 {
  padding-left: 50px;
}

.margin20 {
  margin: 0px 20px 0px 20px;
}

.margin40Left {
  margin: 0px 0px 0px 40px;
}

.padding200 {
  padding: 0px 200px 0px 200px;
}

.margin40 {
  margin: 40px 0px 40px 0px;
}

.margin80 {
  margin: 80px 0px 80px 0px;
}

.margin160 {
  margin: 8px 0px 160px 0px;
}

.padding40{
  padding: 0px 40px 0px 40px;
}

.padding80Left{
  padding: 0px 0px 0px 80px;
}

.phonepadding {
  padding: 40px 0px 60px 0px;
  background-color: black;
}

.btn {
  text-decoration: none;
  background-color: $highlight-color;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  width: 150px;
  font-size: 14px !important;
  text-align: center;
  color: white;
  font-family: $font-stack;
}

.pullRight {
  text-align: right;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.justifyCenter {
  justify-content: center;
  align-items: center;
}

.marginRight {
  margin-right: 50px;
}

.marginRight80 {
  margin-right: 80px;
}

.fade-in {
    opacity: 0;
}
.fade-in.visible {
  transition: opacity 1s ease-in;
  opacity: 1;
}

.gifImgBorder {
  border-radius: 32px;
  border: 12px solid black;
  -webkit-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.32);
box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.32);
}

.prototypeImgMed {
  width: 210px;
}

.icons {
  margin-top: 40px;
  margin-left: -10px;
  img {
    width: 25px;
    height: auto;
    margin: 0px 10px 0px 10px;
  }
}

.fade {
  animation: fade-in-keyframes 0.7s;
}

.transform {
  animation: transform-keyframes 0.5s;
}

.transformAndFade {
  animation: transform-keyframes 0.3s, fade-in-keyframes 0.5s;
}

@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes transform-keyframes {
  from {transform: translateY(-7px)}
  to {transform: translateY(0px)}
}

.citation {
  background-color: #363565;
  padding: 20px 0px 20px 0px;
}

.citationTxt {
    margin: 40px 0px 40px 0px;
    font-size: 24px;
    color: white;
    line-height: 1.4;
    width: 50%;
}

.citationTxtSmall {
    margin: 40px 0px 40px 0px;
    font-size: 16px;
    color: white;
    line-height: 1.4;
    width: 50%;
}

.width100 {
  width: 100%;
}

.whiteTxt {
  color: white;
}

.strongTxt {
    font-weight: bold;
}


.widebtn {
  border: 2px solid black;
  background-color: transparent;
  padding: 20px;
  border-radius: 32px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
  }
}

.generalContainer {
  padding: $general-padding;
}

.titleXL {
  font-size: 108px;
  font-weight: 400;
  line-height: 1.3;
}

.titleM {
  font-size: 36px;
  font-weight: 400;
}

::selection {
  background-color: #E9F1A9;
  color: #000;
}

::-moz-selection {
  background-color: #E9F1A9;
  color: #000;
}
