@import "../assets/styles/main.scss";


.navigation {
  background-color: transparent;
  margin: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  ul {
    margin: 0;
    padding: 15px 40px 15px 40px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li {

        margin-right: 30px;

      a {
        text-decoration: none;
        opacity: 1;
      }
    }
  }
}
