@import "../assets/styles/main.scss";


.projectHeader {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 80px;
  box-sizing: border-box;

  .projectTitle {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      margin: 0 50px 0px 50px;
      font-size: 36px;
      font-weight: 400;
      letter-spacing: -0.02em;
      line-height: 1.3;
    }

    .iconBg {
      width: 30px;
      height: 30px;
      background-color: #2B2D2E;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 66px;
      left: 40px;
      z-index: 1000;

      &:hover {
        cursor: pointer;
      }

      .iconArrow {
        width: 24px;
      }
    }
  }

  @media (max-width: 600px) {
    .projectTitle {
      h1 {
        margin: 0 24px 0px 24px;
        font-size: 28px;
      }
    }
  }

  .projectDescription {
    margin-left: 50px;
    font-size: 18px;
    line-height: 1.6;
    max-width: 720px;
    color: inherit;
  }

  @media (max-width: 600px) {
    .projectDescription {
      margin-left: 54px;
      font-size: 17px;
    }
  }
}

@media (max-width: 600px) {
  .projectHeader {
    padding: 40px 20px;
  }
}


.coordinates {
  background-color: #a2d6c9;
}

.opi {
  background-color: #905FCE;
  color: white;
}

.ap {
  background-color: #FFDEE2;
}

.invoiceSuppliers {
  background-color: #DCD7F4;
}

.thesis {
  background-color: #45a7c4;
  color: white;
}

.ah {
  background-color: #fdc95a;
}

.issuu {
  background-color: #FF645A;
  color: white;
}

.issuuCreate {
  background-color: #6B3FFD;
  color: white;
}

.issuuReader {
  background-color: #e9a39a;
}

.issuuBrandingOverview {
  background-color: #D7D7FF;
  color: black;
}

.mobileAppOverview {
  background-color: #dde0c3;
}

.pleoApprovals {
  background-color: #FFDEE2;
}

.contentEditorsOverview {
  background-color: #D7D7FF;
}

.imgShadow {
  border-radius: 16px;
  -webkit-box-shadow: 0px 2px 44px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 2px 44px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 2px 44px 0px rgba(0,0,0,0.08);
}


.basicContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 80px;
  box-sizing: border-box;

  .projectDetails {
    border-bottom: 1px solid #e0e0e0;
    padding: 3rem 0;
    margin-bottom: 4rem;

    .detailsGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 3rem 4rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 2rem;
      }
    }

    .detailItem {
      display: flex;
      flex-direction: column;

      .detailLabel {
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: #6b6b6b;
        margin-bottom: 0.75rem;
      }

      .detailValue {
        font-size: 20px;
        line-height: 1.4;
        color: #000;
        font-weight: 400;
        letter-spacing: -0.01em;
        margin: 0;
      }
    }
  }

  .projectContent {
    max-width: 800px;

    p {
      margin: 0 0 1.5rem 0;
      font-size: 17px;
      line-height: 1.65;
      color: $text-secondary;
    }
  }

  // Legacy support
  h2 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.01em;
    margin: 0 0 2rem 0;
    color: #000;
  }

  h4 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2rem 0 0.5rem 0;
    color: #6b6b6b;

    &:first-of-type {
      margin-top: 0;
    }
  }

  p {
    margin: 0 0 0.5rem 0;
    font-size: 17px;
    line-height: 1.65;
    color: $text-secondary;
  }

  .mainImg {
    width: 200px;
  }

  .more {
    display: flex;
    align-items: flex-start;
    flex: 1;
  }

  .role {
    min-width: 200px;
    flex-shrink: 0;
  }
}

@media (max-width: 1200px) {
  .basicContainer {
    padding: 60px 40px;
  }
}

@media (max-width: 600px) {
  .basicContainer {
    padding: 40px 20px;

    .projectDetails {
      .detailsGrid {
        gap: 2rem;
      }
    }
  }
}

.number {
  // color: ;
}

.mainImg {
  width: 100%;
  height: auto;
  margin: 40px 0px 40px 0px;
}

.mainImgNoMargin {
  width: 100%;
  height: auto;
}

.smallImg {
  width: 450px;
  height: auto;
}

.projectContainer {
  padding: $project-padding;

  .screenView {
    width: 300px;
  }
}

.projectContainerWithNav {
  @media (min-width: 1025px) {
   margin-left: 250px;
   margin-right: 250px;
   padding-left: 2rem;
 }
}

@media (max-width: 600px) {
  .projectContainer {
    padding: 10px 12px 10px 12px;
  }
}

.colored {
  padding: 60px;
  background-color: #f8f8f8;
  margin: 0px 0px 40px 0px;
  border-radius: 8px;
}

.research {
  display: flex;
  flex-direction: row;
}

#firstInsight {
  position: relative;
  top: 120px;
}

#stopInsight {
  position: relative;
  top: 140px;
}

#chartInsight {
  position: relative;
  top: 40px;
}

.sbm {
  // margin: 0px 20px 0px 20px;
}

.prototypeImg {
  width: 240px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  margin: 0px 10px 0px 10px;
}

.prototypeImgBig {
  width: 300px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  margin: 0px 10px 0px 10px;
}

.prototypeImgSmall {
  width: 180px;
  height: auto;
}

.prototype {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.role {
  margin-right: 0;
}

.title {
  font-family: $header-font;
  font-weight: 400;
}

.personal {
  margin-bottom: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 140px;
}

.cardsFlowBg {
  background-color: #ecede7;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  justify-content: center;
}

i {
  font-weight: 500;
}

.imgWithBorder {
  border-radius: 20px;
  width: 100%;
  border: 4px solid #F3F7F6;
  -webkit-box-shadow: 0px 11px 26px -19px rgba(171,171,171,0.62);
  -moz-box-shadow: 0px 11px 26px -19px rgba(171,171,171,0.62);
  box-shadow: 0px 11px 26px -19px rgba(171,171,171,0.62);
}

.circle {
  border-radius: 50%;
  text-align: center;
  border: 3px solid #1065eb;
  padding: 4px;
}

.bold {
  font-weight: 500;
  color: #000;
}
